<div class="container">

  <h1>Stupid coach interface!</h1>
    <h2>Your question was:</h2>
    <br>
    <h3>
    <%= @question %>
    <br>
    <br>
    </h3>
    <h2>Your coach replied:</h2>
    <br>
    <h3>
    <%= @answer %>
    </h3>
    <br>
    <h2>
    <%= link_to("Ask another question", "/ask") %>
    </h2>
</div>
