<div class="container">

  <h1>Interface to ask a question to your coach<h1>

  <h2>
    <form action="/answer">
      <label for="question">Speak to your coach</label>
      <input type="text" id="question" name="query" placeholder="ask your question here">
      <input type="submit" value="Go on!">
    </form>
  <h2>

  </div>
